rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Anyone signed in can read
      allow read: if request.auth != null;

      // Only admins can create, update, delete
      allow write, update, delete: if request.auth != null
                                   && request.auth.token.role == 'admin';
    }
  }
}
